.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

/*mobile*/

@media screen and (max-width:768px){
    
    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }
    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }
}